.txts{
    position: absolute;
    top: 45%;
    left: 40%;
    justify-content: center;
    color: white;
    font-family: monospace;
}

.txts h1{
    font-size: 4rem;
}

.contactform{
    background-color: aqua;
    height: 35rem;
}

.container{
    width: 90%;
    margin: 50px auto;
    
}

.contact-box{
    background-color: white;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 20px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 20px ;
    background: #1c00b5;
    color: white;
}

.container h2{
    margin-bottom: 20px;
    padding-top: 1.5rem;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

.input-group input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

.input-row .button{
    padding-top: 5px;
}

.contact-left h4{
    padding-bottom: 1.5rem;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}